* {
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

/* text */
#text-two {
    color:black;
    font-size: 25px;
    font-weight: bold;
}

h3 {
    font-size: 22px;
    font-weight: bold;
    margin: 10px;
}

/* body */
header {
    height: 75px;
    background-image: linear-gradient(to right, rgb(93, 93, 216) , rgb(27, 27, 101));
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    font-size: 30px;
    font-weight: bold;
    display: block;
    margin-top: 10px;
} 


/* city selected box */
.city-card {
    border-style: solid;
    margin: 20px;
}

/* city selected info lists*/
li {
    margin-bottom: 20px;
}

#city-info {
    padding-left: 5px;
}

/* 5-day forecast */
.card-container {
    margin-left: 20px;
    margin-bottom: 20px;
}

.card {
    background-color: rgb(27, 27, 101);
    color: white;
    display: inline-block;
    margin: 10px;
    max-width: 150px;
    text-align: center;
}

.card > li {
    text-align: center;
}

/* buttons */
#button-one {
    width: 100%;
    background-color: rgb(84, 84, 238);
}

hr {
    border-width: 2px;
    background-color: rgb(102, 93, 125);
}

#searched-cities > button {
    width: 15%;
    height: 30px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    background-color: rgb(191, 191, 191);
}